# !!! ВАЖНО !!!
# Это всего лишь тестовые данные. Для демонстрации.
# В файле `.env` поменяйте данные на свои.


SECRET_KEY = 'super-very-secret-key'
# Расскоментировать для продакшена
# DEBUG = True

# Для инициализации PostgreSQL
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test_db

# Для файла настроек (settings.py)
DB_NAME=test_db
DB_USER=test
DB_PASSWORD=test
DB_HOST=db
# POSTGRES_HOST_AUTH_METHOD=trust
