# !!! ВАЖНО !!!
# Это всего лишь тестовые данные. Для демонстрации.
# В файле `.env` поменяйте данные на свои.


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/5.0/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'your_secret_key'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

# Переменные
USER=test
PASSWORD=test
DB_NAME=${USER}_db
DB_HOST=django_template_db

# Для инициализации PostgreSQL
POSTGRES_USER=${USER}
POSTGRES_PASSWORD=${PASSWORD}
POSTGRES_DB=${DB_NAME}

# Для файла настроек (settings.py)
DB_NAME=${DB_NAME}
DB_USER=${USER}
DB_PASSWORD=${PASSWORD}
DB_HOST=${DB_HOST}
