# !!! ВАЖНО !!!
# Это всего лишь тестовые данные. Для демонстрации.
# В файле `.env` поменяйте данные на свои.


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/5.0/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'you_secret_key'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

ALLOWED_HOSTS = ['127.0.0.1', 'localhost']

# Для файла настроек (settings.py)
DB_NAME=test_db
DB_USER=test
DB_PASSWORD=test
DB_HOST=db

# Для инициализации PostgreSQL в Docker
POSTGRES_USER=test
POSTGRES_PASSWORD=test
POSTGRES_DB=test_db
